<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/animations.css" />
</head>

<body>
    <!--Animation-->
    <div class="animation-container">
        <div class="bubbles"></div>
        <div class="bubbles"></div>
        <div class="bubbles"></div>
        <div class="bubbles"></div>
        <div class="bubbles"></div>
    </div>
    <!--Animation-->

    <div class="container">
        <header>
            <p>Welcome to</p>
            <h1>Chatgate</h1>
            <p>Connect with everybody easily here</p>
        </header>
        <main>
            <section>
                <form action="/create" method="post">
                    <p>Note all inputs are required</p>
                    
                    <label for="name" >Name</label>
                    <input id="name" type="text" name="name" required/>
                    
                    <label for="family-name">Family Name</label>
                    <input id="family-name" name="lastName" type="text" required/>
                    
                    <label for="date">Date Of Birth</label>
                    <input id="date" name="birthDate" type="date" required/>

                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" required/>
                    
                    <label for="password">password</label>
                    <input id="password" type="password" name="password" required/>
                    
                    <button>Submit</button>
                    
                </form>
            </section>
        </main>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>